<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordinaland</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <nav>OrdinaLand <a class=boutton href = "/">Acceuil</a>
                 <a class=boutton href = "/construire-ordinateur">Construire un ordinateur</a>
                 <a class=boutton href = "/blog/1">Blog</a>
                 <a class=boutton href = /glossaire>Glossaire</a>
                 <a class=boutton href = "/contact">Contact</a></nav>

    <header>
        <h1>OrdinaLand</h1>
        <p id="slogan"><u><b>La</b></u> référence en matière d'ordinateurs</p>
    </header>
    <main>
        <h1>{{bon_article.titre}} publié le {{bon_article.date}}</h1>
        <p>Temps de lecture {{bon_article.temps_lecture()}}</p>
        <section>
            <img src="/static/{{bon_article.image}}">
        </section>
        {% for paragraphe in bon_article.tableau_paragraphes() %}
        <p>{{paragraphe}}</p>
        {% endfor %}
        <h1>Plus d'articles...</h1>
        {% if bon_article.numero > 0 %}
        <p class="plus_article"><a href="/article/{{bon_article.numero - 1}}">Article précédent - ajouter titre</a></p>
        {% endif %}
        {% if bon_article.numero < 12 %}
        <p class="plus_article"><a href="/article/{{bon_article.numero + 1}}"> Article suivant - ajouter titre</a></p>
        {% endif %}
    </main>
    <footer>
        <p><b>2022 - OrdinaLand</b></p>
    </footer>

</body>
</html>