<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OrdinaLand</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <nav>
        OrdinaLand <a class=boutton href = "/">Acceuil</a>
                 <a class=boutton href = "/construire-ordinateur">Construire un ordinateur</a>
                 <a class=boutton href = "/blog/1">Blog</a>
                 <a class=boutton href = /glossaire>Glossaire</a>
                 <a class=boutton href = "/contact">Contact</a>
    </nav>
     <header>
        <h1 id="nom">OrdinaLand</h1>
        <p id="slogan"><u><b>La</b></u> référence en matière d'ordinateurs</p>
    </header>
    <main>
        <h1>Monter votre ordinateur</h1>
        <p>Cette page sert d'assistant pour choisir les composantes de votre futur ordinateur</p>
        <!#https://realpython.com/iterate-through-dictionary-python/>
        {% for key,value in choix_composantes.items() %}
        <div>
            <h2>{{key}}<a href="/glossaire/{{key}}">(description)</a></h2>
            <!##https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form>
            {% for composante in value %}
            <form method="post">
                    <label><input type="radio" name="{{key}}" value="{{key}}"><u>{{composante.prix}}$</u> - {{composante.description}} <a href="{{composante.lien}}">[voir]</a> </label>
            </form>
            {% endfor %}
        </div>
        {% endfor %}
        <section>
            <button type="submit">Calculer le prix!</button>
        </section>
    </main>
    <footer>
        <p><b>2022 - OrdinaLand</b></p>
    </footer>
</body>
</html>