<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OrdinaLand</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>

    <nav>
        OrdinaLand <a class=boutton href = "/">Acceuil</a>
                 <a class=boutton href = "/construire-ordinateur">Construire un ordinateur</a>
                 <a class=boutton href = "/blog">Blog</a>
                 <a class=boutton href = /glossaire>Glossaire</a>
                 <a class=boutton href = "/contact">Contact</a>
    </nav>

     <header>
        <h1>OrdinaLand</h1>
        <p id="slogan"><u><b>La</b></u> référence en matière d'ordinateurs</p>
    </header>

    <div class="horaire"><p id="contacter">Pour nous contacter :</p>
    <ul>
        <li>Lundi       : 8h-21h</li>
        <li>Mardi       : 8h-21h</li>
        <li>Mercredi    : 8h-21h</li>
        <li>Jeudi       : 9h-22h</li>
        <li>Vendredi    : 9h-22h</li>
        <li>Samedi      : 9h-17h</li>
        <li>Dimanche    : fermé</li>
    </ul>
    </div>


    <div class="mapouter"><div class="gmap_canvas">
        <iframe width="600" height="500" id="gmap_canvas"
                src="https://maps.google.com/maps?q=college%20bois%20de%20boulogne&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <a href="https://fmovies-online.net"></a><br>
        <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
        <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
        <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>






    <footer><p><b>2022 - OrdinaLand</b></p>
    </footer>


</body>
</html>