<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OrdinaLand</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
   <nav>OrdinaLand <a class=boutton href = "/">Acceuil</a>
                 <a class=boutton href = "/construire-ordinateur">Construire un ordinateur</a>
                 <a class=boutton href = "/blog/1">Blog</a>
                 <a class=boutton href = /glossaire>Glossaire</a>
                 <a class=boutton href = "/contact">Contact</a></nav>

    <header>
        <h1>OrdinaLand</h1>
        <p id="slogan"><u><b>La</b></u> référence en matière d'ordinateurs</p>
    </header>

    <p id="definition">Definition : {{terme}}</p>
    <p id="texte">{{texte}}</p>
    <a id="source" href ={{source}}>{{source}}</a>
   <ul><b>mots reliés</b></ul>
   {% for i in mots_relies %}
   {% if i != mot: %}
   <li><a href="/glossaire/{{i}}">{{i}}</a></li>
   {% endif %}
   {% endfor %}


   <a id="lien_glossaire" href = "/glossaire">Retour au Glossaire</a>

    <footer>
        <p><b>2022 - OrdinaLand</b></p>
    </footer>

</body>
</html>