<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordinaland</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <style>footer {
        bottom:0;}</style>
</head>
<body>
    <nav>OrdinaLand <a class=boutton href = "/">Acceuil</a>
                 <a class=boutton href = "/construire-ordinateur">Construire un ordinateur</a>
                 <a class=boutton href = "/blog/1">Blog</a>
                 <a class=boutton href = /glossaire>Glossaire</a>
                 <a class=boutton href = "/contact">Contact</a></nav>

    <header>
        <h1>OrdinaLand</h1>
        <p id="slogan"><u><b>La</b></u> référence en matière d'ordinateurs</p>
    </header>
    <h2><b>Glossaire</b></h2>
    <div class = mot>
    {% for i in mot %}

    <ul>
        <li><a href="/glossaire/{{i}}">{{i}}</a></li>
    </ul>

    {% endfor %}
        </div>
    <footer><p><b>2022 - OrdinaLand</b></p>
    </footer>

</body>
</html>