<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordinaland</title>
</head>
<body>
 <nav>Ordinaland <a href = "/">Acceuil</a>
                 <a href = "construire-ordinateur">Construire un ordinateur</a>
                 <a href = "Blog">Blog</a>
                 <a href = Glossaire>Glossaire</a>
                 <a href = "Contact">Contact</a></nav>
    <header>
        <h1>OrdinaLand</h1>
        <p><u><b>La</b></u> référence en matière d'ordinateurs</p>
    </header>
    <main>
        <div id="Premiere"><h1>Premiere visite sur le site?</h1>
        <p>Faites un tour sur notre <a href = "Construire-ordinateur">
            outil d'aide à monter un ordinateur!</a></p></div>
        <h1>Sur le Blog...</h1>
        <section>Article</section>
        <a href = "Blog">Voir tous les articles de blog</a>
    </main>
    <footer>
        <p><b>2022 - OrdinaLand</b></p>
    </footer>

</body>
</html>