<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordinaland</title>
</head>
<body>
 <nav>Ordinaland <a href = "/">Acceuil</a>
                 <a href = "construire-ordinateur">Construire un ordinateur</a>
                 <a href = "Blog">Blog</a>
                 <a href = Glossaire>Glossaire</a>
                 <a href = "Contact">Contact</a></nav>
    <header>
        <hcd1>OrdinaLand</h 1>
        <p><u><b>La</b></u> référence en matière d'ordinateurs</p>
    </header>
    <main>
        <div id="Premiere">Si premiere visite</div>
    </main>
    <footer>
        <p><b>2022 - OrdinaLand</b></p>
    </footer>

</body>
</html>