
body {
    width:100%;
    margin:auto;
    padding:0;
    background-image: linear-gradient(339deg, #FBAB7E 0%, #F7CE68 100%);
    background-attachment: fixed;
      }


nav {
    font-size:30px;
    color: white;
    background-color: #A2572D;
    padding-top: 25px;
    padding-bottom: 30px;

    }

.boutton {
    text-decoration: none;
    border: thick double #582D15;
    font-size: 20px;
    margin: 30px;
    background-color: #923500;
    color: black;
    padding-top: 34px;
    padding-left:25px;
    padding-right:25px;
    padding-bottom: 28px;
}


header {
    background-color:#F7965E;
 }

h1 {
    margin:0;
    margin-top: 0px;
    padding-top: 1%;
    }

#slogan {
    margin:0;
    padding-bottom: 1%;
}

#premiere {
   text-align: center;
   border-radius:25px;
   background: #A2572D;
   margin-left: 25%;
   margin-top: 60px;
   padding: 25px;
   width: 500px;
   height: 100px;
}

article {
    background-color: #F8C0A0;
    border: outset #E37383;
    margin: 20px;
    margin-right: 15%;
    margin
    }



footer {
    margin-top: 100px;
    font-size:20px;
    text-align: center;
    padding: 1px;
    width: 100%;
    background-color: #A2572D;
    }




.horaire {font-size: 20px;
    text-align:center;
    margin-top: 50px;
    }

#jour {
    list-style: none;
}



#contacter {
    text-align:center;
    font-size: 30px;
    }



.mapouter {
    text-align:center;
    margin-left: 35%;
}

#lien_article {
    margin-left: 20px;
}

.pagination {
    margin-left: 20px;
    font-size: 20px;
}

#description {
    font-size: 18px;
}

#page_monter {
    border-bottom: outset #E37383;
    padding-bottom: 20px;
}

.ordinateur {
    margin:20px;
    padding:25px;
    background-color: #F8C0A0;
    border: outset #E37383;
    margin-right: 50%;
}

.total {
    text-align:center;
    font-weight: bold;
    margin-top: 50px;
}

#livraison {
    margin-top:25px;
    padding: 10px;
    border:outset #E37383;
    margin-right: 60%;
}



.mot {
    background: #F8C0A0;
    border: outset #E37383;
    margin: 20px;
    margin-right: 85%;
    padding-bottom: 10px;
}

